<!-- Workshop -->
  <section class="page-section" id="{{ site.data.sitetext.workshop.section | default: "workshop" }}">
    <div class="container">
	
      <div class="row">
        <div class="col-lg-12 text-left">
            <img src="assets/img/NCAR_logo.png" alt="NCAR Logo" style="max-width: 300px; margin-top: 4px; margin-bottom: 10px; float: right;">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.workshop.title | default: "workshop" }}</h2>
          {% if site.data.sitetext.workshop.text %}
		  <h3 class="section-subheading text-dark">{{ site.data.sitetext.workshop.text | markdownify}}</h3>
		  {% endif %}
        </div>
      </div>
	  
      <div class="row text-center">
	  {% for service in site.data.sitetext.workshop.list %}
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="{{ service.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">{{ service.title | markdownify }}</h4>
          {% if service.desc %}<div class="text-">{{ service.desc | markdownify }}</div>{% endif %}
        </div>
	  {% endfor %}
      </div>
	  
    </div>
  </section>
<!-- End Workshop -->